PassengerAppRoot /home/__CPANEL_USER__/serensa_app
PassengerBaseURI /
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerPython /home/__CPANEL_USER__/virtualenv/serensa_app/3.12/bin/python

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /$1 [L]
</IfModule>
